
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #2563eb;
  --secondary: #1e293b;
  --background: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --white: #ffffff;
}

body{
  font-family: "Inter", sans-serif;
}

header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--background);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

header a{
  
  text-decoration: none;
  color: var(--text-main);
}

header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header nav ul{
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--text-main);
}

.menu-toggle {
  display: none;
}

header nav ul a{
  text-decoration: none;
  color: var(--text-main);
}

header nav ul a:hover{
  color: var(--primary);
}

header nav button{
  background: var(--primary);
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

header nav button:hover{
  background-color: var(--secondary);
}

main{
  margin: 0 30px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .hero-content{
  width: 60%;
}

main .hero-content h1{
  margin-bottom: 40px;
  margin-top: -20px;
  font-size: 48px;
  color: var(--text-main);
}

main .hero-content p{
  line-height: 1.6;
  size: 16px;
  margin-bottom: 20px;
  color: var(--text-muted);
  max-width: 500px;
}

main .hero-content button{
  background: var(--primary);
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

main .hero-content button:hover{
  background: var(--secondary);
}

main .hero-image img{
  width: 100%;
  max-width: 500px;
}

.services{
  margin: 0 30px;
}

.services h3{
  text-align: center;
  font-size: 48px;
  color: var(--text-main);
}

.services p{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-muted);
}

.services .cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.services .cards .card{
  width: 300px;
  background-color: var(--background);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}

.services .cards .card img{
  width: 90%;
  margin: auto;
  display: block;
}
.services .cards .card h4{
  text-align: center;
  margin-top: 10px;
}

.services .cards .card p{
  text-align: center;
  margin-top: 10px;
}

.about{
  margin: 10px 30px;
}

.about h3{
  margin: 20px 0;
  text-align: center;
  font-size: 48px;
  color: var(--text-main);
}

.about > p{
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-muted);
}

.about .about-our{
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .about-our img{
  width: 50%;
}

.about .about-our .about-content{
  width: 45%;
}

.about .about-our .about-content h4{
  margin-bottom: 20px;
  font-size: 35px;
}

.about .about-our .about-content p{
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

.about .about-our .about-content ul{
  list-style: none;
  margin: 10px 0;
}

.about .about-our .about-content ul li{
  margin: 5px 0;
  font-size: 15px;
}

.about .about-our .about-content button{
  margin-top: 10px;
  background: var(--secondary);
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

.about .about-our .about-content button:hover{
  background: var(--primary);
}

.choose-us{
  margin: 10px 30px;
}

.choose-us > h3{
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}

.choose-us > p {
  text-align: center;
  margin-top: 20px;
  color: var(--text-muted);
}

.choose-us .features{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.choose-us .features .feature{
  min-height: 150px;
  padding: 15px;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
}

.choose-us .features .feature .feature-image{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature .feature-image img{
  width: 70%;
}

.feature .feature-content h4{
  font-size: 20px;
  margin-bottom: 20px;
}

.feature .feature-content p{
  width: 90%;
}


@media (max-width: 431px) {
  
  main{
    flex-direction: column;
    justify-content: center;
  }
  main .hero-content{
    width: 90%;
  }

  .about .about-our{
    flex-direction: column;
  }

  .about .about-our img{
    width: 90%;
  }
  .about .about-our .about-content{
    width: 90%;
    margin-top: 10px;
  }

  .choose-us .features{
    grid-template-columns: 1fr;
  }

  .choose-us > h3{
    font-size: 40px;
  }
}

@media (max-width: 768px) {

  header nav ul {
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: none;
  }

  header nav button {
    display: none; /* زرار Get Started */
  }

  header nav ul.active {
    display: flex;
  }

  .menu-toggle {
    color: #0f172a;
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
}
